In [1]:
import pandas as pd 
import numpy as np
from bs4 import BeautifulSoup
import seaborn as sns

In [31]:
df = pd.read_csv(r'C:\Users\Administrator\Desktop\alex the da\messy_IMDB_dataset.csv', encoding= 'ISO-8859-1', sep=None, engine= 'python')
df
# the iso is used to upload the data set accurately and avoid errors

,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Unnamed: 8,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,NaN,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,NaN,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,NaN,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,NaN,$ 156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,NaN,$ 11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,NaN,$ 15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,NaN,$ 22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,NaN,$ 1864182,213.152,7.4

In [33]:
df.head()

,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Unnamed: 8,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,NaN,$ 28815245,2.278.845,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,$ 246120974,1.572.674,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,NaN,$ 1005455211,2.241.615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,"$ 4o8,035,783",1.098.714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,NaN,$ 222831817,1.780.147,"8,9f"

In [35]:
df.tail()

,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Unnamed: 8,Income,Votes,Score
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,NaN,$ 156000000,236.285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,NaN,$ 11487676,226.427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,NaN,$ 15000000,226.039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,NaN,$ 22926076,214.165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,NaN,$ 1864182,213.152,7.4

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   IMBD title ID   100 non-null    object
 1   Original titlÊ  100 non-null    object
 2   Release year    100 non-null    object
 3   Genrë¨          100 non-null    object
 4   Duration        99 non-null     object
 5   Country         100 non-null    object
 6   Content Rating  77 non-null     object
 7   Director        100 non-null    object
 8   Unnamed: 8      0 non-null      float64
 9   Income          100 non-null    object
 10   Votes          100 non-null    object
 11  Score           100 non-null    object
dtypes: float64(1), object(11)
memory usage: 9.6+ KB

In [39]:
df.describe(include= 'all')

,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Unnamed: 8,Income,Votes,Score
count,100,100,100,100,99,100,77,100,0.0,100,100,100
unique,100,100,99,59,71,18,7,64,NaN,100,100,28
top,tt0111161,The Shawshank Redemption,2000-05-19,Drama,130,USA,R,Christopher Nolan,NaN,$ 28815245,2.278.845,8.6
freq,1,1,2,9,3,62,45,6,NaN,1,1,11
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
df.rename(columns= {'IMBD title ID': 'IMBD_title_ID', 'Original titlÊ' : 'Original_title', 'Release year' : 'Release_year',
                    'Genrë¨' : 'Genre', 'Duration' : 'Duration', 'Country' : 'Country', 'Content Rating' : 'Content_Rating',
                    'Director' : 'Director', 'Unnamed: 8': 'null', 'Income' : 'Income', ' Votes ' : 'Votes', 'Score' : 'Score'}, inplace=True)

In [41]:
df.columns

Index(['IMBD title ID', 'Original titlÊ', 'Release year', 'Genrë¨', 'Duration',
       'Country', 'Content Rating', 'Director', 'Unnamed: 8', 'Income',
       ' Votes ', 'Score'],
      dtype='object')

In [45]:
df.columns

Index(['IMBD_title_ID', 'Original_title', 'Release_year', 'Genre', 'Duration',
       'Country', 'Content_Rating', 'Director', 'null', 'Income', 'Votes',
       'Score'],
      dtype='object')

In [47]:
df.drop(columns= {'null'}, inplace = True) #dropping unwanted ccolumns

In [51]:
df.columns # columns after dropping the null column

Index(['IMBD_title_ID', 'Original_title', 'Release_year', 'Genre', 'Duration',
       'Country', 'Content_Rating', 'Director', 'Income', 'Votes', 'Score'],
      dtype='object')

In [57]:
df.fillna({'Duration':'Unknown'}, inplace = True)

In [79]:
df.fillna({'Content_Rating':'Not Rated'}, inplace = True)
# handling missing values

In [61]:
# dropping rows with critical missing data
df.dropna(subset= ['IMBD_title_ID', 'Original_title', 'Release_year'], inplace=True)

In [73]:
# converting data types
df['Release_year'] = pd.to_datetime(df['Release_year'], errors='coerce')
df['Income'] = pd.to_numeric(df['Income'].replace('[$,]', '', regex=True), errors='coerce')
df['Votes'] = pd.to_numeric(df['Votes'].replace('[.,]', '', regex=True), errors='coerce')

In [81]:
df

,IMBD_title_ID,Original_title,Release_year,Genre,Duration,Country,Content_Rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,2.881524e+07,2278845,9.3
1,tt0068646,The Godfather,NaT,"Crime, Drama",175,USA,R,Francis Ford Coppola,2.461210e+08,1572674,9.2
2,tt0468569,The Dark Knight,NaT,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,1.005455e+09,2241615,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,1098714,"9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,2.228318e+08,1780147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...
96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,1.560000e+08,236285,7.5
97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,1.148768e+07,226427,7.5
98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,Unknown,Sergio Leone,1.500000e+07,226039,7.4
99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,2.292608e+07,214165,7.4
100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,Unknown,Stanley Donen,1.864182e+06,213152,7.4

In [83]:
# clean and standardize the data the 'score' column
df['Score'] = pd.to_numeric(df['Score'].replace('^0-9.]', '', regex=True), errors='coerce')

In [85]:
# normalize any scores greater than 10
df['Score'] = df['Score'].apply(lambda x: x/10 if x > 10 else x)

In [87]:
# final inspection
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 0 to 100
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   IMBD_title_ID   100 non-null    object
 1   Original_title  100 non-null    object
 2   Release_year    89 non-null     datetime64[ns]
 3   Genre           100 non-null    object
 4   Duration        100 non-null    object
 5   Country         100 non-null    object
 6   Content_Rating  100 non-null    object
 7   Director        100 non-null    object
 8   Income          99 non-null     float64
 9   Votes           100 non-null    int64
 10  Score           92 non-null     float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(7)
memory usage: 9.4+ KB

In [89]:
df.head()

,IMBD_title_ID,Original_title,Release_year,Genre,Duration,Country,Content_Rating,Director,Income,Votes,Score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,2.881524e+07,2278845,9.3
1,tt0068646,The Godfather,NaT,"Crime, Drama",175,USA,R,Francis Ford Coppola,2.461210e+08,1572674,9.2
2,tt0468569,The Dark Knight,NaT,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,1.005455e+09,2241615,9.0
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,1098714,NaN
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,2.228318e+08,1780147,NaN